<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @recipient.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @recipient.address %>
</p>

<p>
  <strong>User:</strong>
  <%= @recipient.user %>
</p>

<%= link_to 'Edit', edit_recipient_path(@recipient) %> |
<%= link_to 'Back', recipients_path %>
