<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @occasion.name %>
</p>

<p>
  <strong>Date:</strong>
  <%= @occasion.date %>
</p>

<p>
  <strong>Message:</strong>
  <%= @occasion.message %>
</p>

<p>
  <strong>Occasion type:</strong>
  <%= @occasion.occasion_type %>
</p>

<p>
  <strong>Recipient:</strong>
  <%= @occasion.recipient %>
</p>


    <table class = 'table'>
       <tr>
       <th>Name</th>
       <th>Price</th>
       <th></th>
       </tr>
       <% @gifts.each do |gift| %>
       <tr>
       <td><%= gift.name %></td>
       <td><%= gift.price %></td>
       <td><%= link_to 'Add Gift!', add_gift_occasion_path(gift: gift.id), class: 'btn btn-primary' %></td>       
       <% end %>  
      </tr>
    </table> 


<%= link_to 'Edit', edit_occasion_path(@occasion) %> |
<%= link_to 'Back', occasions_path %>
